* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

/* .row {
    background-color: rgb(41, 219, 201);

} */

.box-brown {
    background-color: rgb(192, 167, 46);
    height: 40px;
}

.box-darkbrown {
    background-color: rgb(49, 49, 7);
    height: 28px;
}

.box-blue {
    background-color: blue;
    height: 28px;
}

.box-light {
    background-color: rgb(41, 219, 201);
    height: 250px;
}

.footer {
    display: flex;
    gap: 20px;
}

.box-pink {
    background: pink;
    height: 400px;
    display: flex;
    width: 50%;
}

.col-22 {
    display: flex;
    flex-direction: column;
}

.box-white {
    background-color: white;
    width: 150px;
    height: 30px;
    margin-top: 216px;
}

.box-whites {
    background-color: white;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}